.singleTourWrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  flex-wrap: wrap;
}
.tour {
  border: 10px solid var(--lightRed);
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: var(--boneWhite);
  padding: 15px;
}
.icon {
  color: var(--white);
  font-size: 50px;
}
.signPostIcon {
  margin: 0 auto;
  margin-left: 0;
  display: flex;
  border-radius: 50%;
  background-color: var(--lightRed);
  font-size: 1.8rem;
  padding: 12px;
  color: var(--white);
}
.iconWrapper {
  border-radius: 50%;
  display: flex;
  background-color: var(--dark500);
  font-size: 1.8rem;
  padding: 12px;
  color: var(--white);
  margin: 0 auto;
}
.gallery {
  border-top: 10px solid var(--dark500);
  background-color: var(--dark500);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.innerGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.gallery img {
  box-sizing: border-box;
  object-fit: cover;
  height: 300px;
  object-position: 0px 60%;
  width: 100%;
  transition-duration: 0.3s;
  user-select: none;
}

.imgOverlay:hover {
  opacity: 1;
}
.imgContainer:hover img {
  transform: scale(1.2);
}
.imgContainer {
  overflow: hidden;
  width: calc(33% - 5px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.eyeIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--boneWhite);
  font-size: 40px;
}
.imgOverlay {
  cursor: pointer;
  opacity: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transition: opacity 0.4s;
}
.galleryMessage {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--boneWhite);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  grid-column: 1 / span 2;
}
.galleryMessage p {
  text-align: center;
  width: 80%;
  font-weight: 500;
  font-size: 14px;
  margin: 10px auto;
}
.galleryMessage h4 {
  margin: 0 auto;
  margin-top: 15px;
}
.singleTourThemeWrapper {
  position: relative;
  background-color: var(--dark500);
  flex: 1;
}
.singleTourTitle {
  font-size: 3rem;
  font-weight: 500;
  padding: 20px 0px;
}
.singleTourHTag {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}
.list {
  margin: 20px 0px;
  padding: 0 15px;
  font-size: 16px;
}
.list li {
  margin-bottom: 10px;
}
.list li span {
  position: relative;
  left: 10px;
}
.list li::marker {
  position: relative;
  color: var(--dark500);
  font-size: 1.2em;
  margin-top: 5px;
  content: "►";
}
.list li::after {
  font-weight: 2rem;
}
.description {
  font-size: 16px;
  text-align: justify;
}
.infoCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--dark500);
  margin: 10px 0px 0 10px;
  gap: 10px;
  flex: 3;
}
@media only screen and (max-width: 1000px) {
  .gallery {
    border-left: none;
  }
  .infoCards {
    margin: 10px 10px 0 10px;
  }
  .singleTourWrapper {
    flex-direction: column;
  }
  .singleTourTitle {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .imgContainer {
    width: 100%;
  }
  .gallery img {
    height: 300px;
  }
  .singleTourTitle {
    font-size: 1.6rem;
  }
  .infoCards {
    display: flex;
    flex-direction: column;
    border-left: none;
    margin: 10px 0px 0px 0px;
  }
}
