.navMobile {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 90px;
  background-color: var(--dark500);
  width: 100%;
}
.navMobile button {
  background: inherit;
  border: none;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.navMobile button svg {
  color: var(--boneWhite);
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
}
.marginLeft {
  margin-left: 2rem;
}
.navLinks {
  margin-top: 10px;
}
.navLinks li {
  list-style-type: none;
  margin-bottom: 10px;
}
.navLinks li a {
  text-decoration: none;
  color: var(--boneWhite);
  font-size: 20px;
  font-weight: 400;
}
.navLinks > li a {
  margin-left: 20px;
}
.navLinks li a:hover {
  text-decoration: overline;
  text-shadow: 0px 0px 1px;
}
.menu {
  margin-left: 30px;
}
.menu button {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  display: flex;
  width: 100%;
}
.secondaryMenu {
  margin-left: 40px;
  overflow: hidden;
}
.menu button:hover {
  background-color: var(--dark300);
}
.dropdownWrapper {
  overflow: hidden;
}

.MenuEnter {
  position: absolute;
  transform: translateY(-110%);
}
.MenuEnterActive {
  transform: translateY(0%);
  transition: all var(--speed) ease;
}
.MenuExit {
  position: absolute;
}
.MenuExitActive {
  transform: translateY(-110%);
  transition: all var(--speed) ease;
}

.MenuSecondaryEnter {
  transform: translateY(110%);
}
.MenuSecondaryEnterActive {
  transform: translateY(0%);
  transition: all var(--speed) ease;
}
.menuSecondaryExit {
}
.menuSecondaryExitActive {
  transform: translateY(110%);
  transition: all var(--speed) ease;
}
.MobileMenuEnter {
  transform: translateY(-110%);
  transition: all var(--speed) ease;
}
.MobileMenuActive {
  transform: translateY(110%);
}
.MobileMenuExit {
}
.MobileMenuExitActive {
  transform: translateY(110%);
  transition: all var(--speed) ease;
}
@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
