:root {
  --primaryTheme: #b63c3c;
  --secondaryTheme: #995a5a;
  --primaryOverlay: #b63c3c5b;
  --secondaryOverlay: #995a5aa8;
  --white: #ffffff;
  --boneWhite: rgb(240, 240, 240);
  --electricBlue: rgb(197, 100, 87);
  --dark500: rgb(36, 36, 36);
  --dark400: rgb(48, 48, 48);
  --dark300: rgb(77, 77, 77);
  --dark100: rgb(187, 187, 187);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.colored {
  color: var(--primaryTheme);
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h3 {
  margin: 0 auto;
}
.cardsWrapper {
  display: grid;
  justify-items: center;
  margin: 20px 0px;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}
.contentWrapper {
  margin: 0 auto;
  max-width: 1040px;
}
.meetingSection {
  background-color: var(--dark100);
}
.homePage--sectionTitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 400;
}
.meetingPoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.meetingPoint div {
  border-radius: 15px;
  max-width: 500px;
}
.meetingPoint--picture {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.meetingPoint--picture img {
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1000px) {
  .cardsWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .meetingPoint {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .cardsWrapper {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 640px) {
  .meetingPoint {
    margin: 0 10px 50px;
  }
  .meetingPoint--picture {
    height: auto;
  }
  .meetingPoint div {
    max-width: 320px;
  }
}

@media only screen and (max-width: 320px) {
  .meetingPoint div {
    max-width: 260px;
    max-height: 260px;
  }
}
