:root {
  --primaryTheme: #b63c3c;
  --secondaryTheme: #995a5a;
  --primaryOverlay: #b63c3c5b;
  --secondaryOverlay: #995a5aa8;
  --white: #ffffff;
  --boneWhite: rgb(240, 240, 240);
  --dark500: rgb(36, 36, 36);
  --dark300: rgb(77, 77, 77);
  --dark100: rgb(187, 187, 187);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.colored {
  color: var(--primaryTheme);
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h3 {
  margin: 0 auto;
}
.cardsWrapper {
  display: grid;
  justify-items: center;
  margin: 20px 0px;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}
.contentWrapper {
  margin: 0 auto;
  max-width: 1040px;
}
.meetingSection {
  background-color: var(--dark100);
}
.homePage--sectionTitle {
  text-align: center;
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 400;
}
.meetingPoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.meetingPoint div {
  border-radius: 15px;
  height: 400px;
  width: 100%;
  max-width: 500px;
  background-color: var(--white);
}
@media only screen and (max-width: 1000px) {
  .cardsWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .meetingPoint {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .cardsWrapper {
    grid-template-columns: 1fr;
  }
}
