.hamburger div {
  height: 3px;
  background-color: var(--white);
  border-radius: 3px;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.hamburger div:not(:last-child) {
  margin-bottom: 8px;
}
.hamburger {
  width: 40px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: inherit;
  justify-content: center;
  cursor: pointer;
}
.hamburger:hover div {
  box-shadow: 0px 0px 3px var(--white);
}

.hamburger div:nth-of-type(1) {
  width: 50%;
}

.hamburger div:nth-of-type(2) {
  width: 100%;
}

.hamburger div:nth-of-type(3) {
  width: 75%;
}

.marked div:nth-of-type(1) {
  width: 53%;
  transform-origin: bottom;
  transform: rotatez(45deg) translate(5px, 2px);
}

.marked div:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.marked div:nth-of-type(3) {
  transform-origin: bottom;
  width: 53%;
  transform: translate(12px, -7px) rotatez(45deg);
}
