.navLinks li {
  list-style-type: none;
  margin-right: 20px;
  position: relative;
}
.navLinks li button {
  margin-right: 20px;
}
.navLinks li a,
.navLinks button,
.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
}
.navLinks > li:hover {
  text-shadow: 0px 0px 2px #ffffff;
}
.navLinks > li button:hover {
  text-shadow: 0px 0px 2px #ffffff;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navLinks button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.navLinks svg {
  color: var(--boneWhite);
  font-size: 2rem;
  position: absolute;
}
.navLinks li button > svg {
  left: 40px;
  top: -25%;
}
.iconButton {
  padding: 5px 10px;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
}
.rightIcon {
  right: 0;
  margin-left: auto;
}
.iconButton svg {
  position: relative;
  font-size: 30px;
}
.iconButton:hover {
  background-color: var(--dark300);
  color: var(--boneWhite);
}
.menuArrow {
  position: absolute;
  right: 0px;
}
.dropdownWrapper {
  min-width: 250px;
  padding: 5px 10px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  background-color: var(--dark400);
  transition: height var(--speed) ease;
  border-radius: 10px;
  border: 3px solid var(--dark100);
}

.menu {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  will-change: transform;
}
.MenuEnter {
  transform: translateX(-110%);
  position: absolute;
}
.MenuEnterActive {
  transform: translateX(0%);
  transition: transform var(--speed) ease;
}
.MenuExit {
  position: absolute;
}
.MenuExitActive {
  transform: translateX(-110%);
  transition: transform var(--speed) ease;
}

.MenuSecondaryEnter {
  transform: translateX(110%);
}
.MenuSecondaryEnterActive {
  transform: translateX(0%);
  transition: transform var(--speed) ease;
}
.menuSecondaryExitActive {
  transform: translateX(110%);
  transition: transform var(--speed) ease;
}
