.infoCard {
  box-sizing: border-box;
  background-color: var(--boneWhite);
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
}

.infoCard h4 {
  margin: 10px 0px;
}
.infoCard p {
  text-align: justify;
  margin-top: 10px;
}
.imageWrapper {
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoCard img {
  width: 100%;
}
.icon {
  background-color: var(--dark500);
  color: var(--white);
  border-radius: 50%;
  margin: 0 auto;
  font-size: 1.8rem;
  display: flex;
  padding: 12px;
}
.calendarWrapper {
  margin-top: 20px;
}
@media only screen and (max-width: 1000px) {
}
